html {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body {
    margin: 0;
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#app-bar {
    color: aquamarine;
    background: linear-gradient(
        27deg,
        rgba(2,0,36,1) 0%,
        rgba(9,9,121,1) 31%,
        rgba(7,43,144,1) 57%,
        rgba(0,212,255,1) 100%
    );
    padding: 3pt;
}

#main {
    flex: 1;
    display: flex;
    justify-content: center;
}
